params {
    input = null
    outdir = "results"
    min_genes = 500
    target_sum = 1e4
    n_top_genes = 3000
    resolution = 0.5
}

process {
    executor = 'local'
    withName: QC {
        cpus = 2
        memory = '4 GB'
    }
    withName: NORMALIZE {
        cpus = 2
        memory = '4 GB'
    }
    withName: CLUSTER {
        cpus = 4
        memory = '8 GB'
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.png"
}
